/* @link https://utopia.fyi/type/calculator?c=330,315,1.067,1440,1200,1.2,5,2,1920&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  --container-width: clamp(19.69rem, calc(3.24rem + 79.73vw), 75.00rem);
  --container-padding: calc(100vw - var(--container-width)) / 2;
  --container-padding-inline: clamp(5px, var(--container-padding), var(--container-padding));
  /* https://utopia.fyi/clamp/calculator?a=330,1440,75%E2%80%94125 */
  --section-vertical-spacing: clamp(4.6875rem, 3.7584rem + 4.5045vw, 7.8125rem);
}
.fluid-container {
  padding-inline: var(--container-padding-inline);
}
.fluid-header {
  padding-inline: var(--container-padding-inline);
  padding-bottom: var(--section-vertical-spacing);
}
.fluid-section {
  padding-inline: var(--container-padding-inline);
  padding-block: var(--section-vertical-spacing);
}
.fluid-footer {
  padding-inline: var(--container-padding-inline);
  margin-top: var(--section-vertical-spacing);
}
/* } */

/* @layer base { */
/* https://utopia.fyi/type/calculator/?c=320,16,1.2,1440,18,1.333,5,2,1920&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
/* --fluid-h1: clamp(2.0738rem, 1.6514rem + 2.1116vw, 3.5519rem);
--fluid-h2: clamp(1.7281rem, 1.4606rem + 1.3375vw, 2.6644rem);
--fluid-h3: clamp(1.44rem, 1.2804rem + 0.7982vw, 1.9988rem);
--fluid-h4: clamp(1.2rem, 1.1145rem + 0.4277vw, 1.4994rem);
--fluid-h5: clamp(1rem, 0.9643rem + 0.1786vw, 1.125rem);
--fluid-h6: clamp(0.8331rem, 0.8301rem + 0.0152vw, 0.8438rem);
--fluid-sm: clamp(0.6331rem, 0.7119rem + -0.0875vw, 0.6944rem); */
--fluid-lg: clamp(1.38rem, calc(0.98rem + 2.02vw), 2.80rem);
--fluid-h1: clamp(1.30rem, calc(1.00rem + 1.48vw), 2.33rem);
--fluid-h2: clamp(1.22rem, calc(1.01rem + 1.04vw), 1.94rem);
--fluid-h3: clamp(1.14rem, calc(1.00rem + 0.69vw), 1.62rem);
--fluid-h4: clamp(1.07rem, calc(0.99rem + 0.40vw), 1.35rem);
--fluid-h5: clamp(1.00rem, calc(0.96rem + 0.18vw), 1.13rem);
--fluid-h6: clamp(0.94rem, calc(0.94rem + 0.00vw), 0.94rem);
--fluid-sm: clamp(0.78rem, calc(0.91rem + -0.14vw), 0.88rem);
--fluid-line-height: calc(1.8em - .4 * ((100vw - 29.08324552em) / (77.58342115)));
}

h1 {font-size: var(--fluid-h1);}
h2 {font-size: var(--fluid-h2); margin-bottom: 3.5em }
h3 {font-size: var(--fluid-h3);}
h4 {font-size: var(--fluid-h4);}
h5, body { font-size: var(--fluid-h5);}
h6 {font-size: var(--fluid-h6);} 
p {line-height: var(--fluid-line-height);}

@media (max-width: 414px){
  p {line-height: 1.8em;} 
}

@media (min-width: 1920px){
  p {line-height: 1.4em;} 
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  font-weight: 700;
  line-height: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  /* outline: red solid 1px; */
}

body {
  margin: 0;
  padding: 0;
  color: #252525;
  font-family: var(--body-font);
}

a:any-link {
  text-decoration: none;
  color: inherit;
}

a:any-link:hover, a:any-link:focus {
  cursor: pointer;
  text-decoration: none;
}

abbr:hover , acronym:hover { cursor: help;}

kbd {
  background-color: #333333;
  color: #ffffff;
  font-size: .9em;
  padding: 0.1em 0.2em;
  border-radius: 0.2em;
}

code {
  color: #c7254e;
  background-color: #f9f2f4;
  font-size: .9em;
  padding: 0.1em 0.2em;
  border-radius: 0.2em;
}

sub, sup {
  line-height: 0;
}

blockquote {
  padding: 0.5em 1.5em;
  margin-left: 0;
  margin-right: 0;
  font-size: var(--fluid-h4);
  border-left: 5px solid #eee;
}

blockquote > p {
  margin: 0;
}

dt {font-weight: 700;}
dd {margin-inline-start: 0;}
address {font-style: normal;}

pre {
  font-size: var(--fluid-sm);
  line-height: 1.6em;
  display: block;
  padding: 1.5em;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: .3em;
  white-space: pre-wrap;
  word-wrap: break-word;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  width: 100%;
  font-size: var(--fluid-h3);
  border-bottom: solid 1px #d6d6d6;
  margin-bottom: 1em;
}

label {
  font-weight: 700;
}

button {
  font-family: var(--body-font);
  font-size: 1em;
}

button:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover {
  cursor: pointer;
}

html:has(:modal) {
  overflow: hidden;

  @media (width >= 1000px) {
    padding-inline-end: 16px;
  }
}

html:has(:modal) nav {
  margin-inline-end: 16px;
}